{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="yago" ng-controller="PageCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% verbatim %}
    <title ng:bind-template="{{pageState.headTitle()}}">YAGo</title>
    {% endverbatim %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'build/style.css' %}">
    <script src="{% static 'libs/modernizr/modernizr.js' %}"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'libs/jquery/jquery.min.js' %}"><\/script>')</script>

    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'libs/angular/angular.js' %}"></script>
    <script src="{% static 'libs/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'libs/angular-resource/angular-resource.js' %}"></script>

    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>

    <script src="{% static 'build/yago.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
