html, body {
  width: 100%;
  height: 100%;
}

.game-play-area {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.go-board {
  float: left;
  position: absolute;
  background-image: url("../images/retina_wood/retina_wood.png");
  padding: 2.5em;
}
.go-board .inner {
  overflow: hidden;
  border: 1px solid #444;
}
.go-board .cell {
  position: relative;
  float: left;
  width: 4em;
  height: 4em;
  border: 1px solid #444;
}
.go-board .cell .label {
  display: none;
}
.go-board .cell .star {
  position: absolute;
  z-index: 1;
  top: -0.5em;
  left: -0.5em;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  background: #444;
}
.go-board .cell:nth-child(18n + 19) {
  clear: left;
}

.interaction-layer {
  float: left;
  position: absolute;
  z-index: 1;
  top: 0.5em;
  left: 0.5em;
}
.interaction-layer .btn {
  position: relative;
  float: left;
  width: 4em;
  height: 4em;
  background-color: rgba(255, 0, 0, 0);
}
.interaction-layer .btn:nth-child(19n + 20) {
  clear: left;
}
.interaction-layer .stone {
  position: absolute;
  top: 0.375em;
  left: 0.375em;
  width: 3.25em;
  height: 3.25em;
  -webkit-border-radius: 1.625em;
  -moz-border-radius: 1.625em;
  -ms-border-radius: 1.625em;
  -o-border-radius: 1.625em;
  border-radius: 1.625em;
}
.interaction-layer .stone-black {
  background-color: #222;
}
.interaction-layer .stone-white {
  background-color: #efefef;
}
