.game-play-area {
    // overflow: hidden;
    position: relative;

    width: 100%;

    margin: 0 auto;
}

.go-board {
    float: left;
    position: absolute;

    background-image: url("../images/retina_wood/retina_wood.png");

    padding: 2.5em;

    .inner {
        overflow: hidden;
        border: 1px solid #444;
    }

    .cell {
        position: relative;
        width: 4em;
        height: 4em;
        border: 1px solid #444;
        float: left;

        .label {
            display: none;
        }

        .star {
            position: absolute;
            z-index: 1;
            top: -0.5em;
            left: -0.5em;
            width: 1em;
            height: 1em;
            @include border-radius(1em);
            background: #444;
        }
    }
    .cell:nth-child(18n + 19) {
        clear: left;
    }
}

.interaction-layer {
    float: left;
    position: absolute;
    z-index: 1;
    top: 0.5em;
    left: 0.5em;

    .btn {
        width: 4em;
        height: 4em;
        float: left;

        background-color: rgba(255, 0, 0, 0.0);
    }

    .btn:nth-child(19n + 20) {
        clear: left;
    }
}
